.logo-img {
    position: absolute;
    top: 0;
    left: 50%;
    max-width: 1072px;
    height: 200px;
    margin-left: -536px;
    z-index: 0;
}

@media (max-width: 1098px) {
    .logo-img {
        max-width: 768px;
        margin-left: -384px;
        height: 150px;
    }
}

@media (max-width: 768px) {
    .logo-img {
        max-width: 560px;
        height: 120px;
        margin-left: -280px;
    }
}

@media (max-width: 592px) {
    .logo-img {
        max-width: 360px;
        height: 90px;
        margin-left: -180px;
    }
}

